<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p id="input_recibido">{{ input }}</p>
          </div>

          <div class="row">
            <div class="col" id="espacio"></div>
          </div>

          <div class="row">
            <div class="col" id="respuesta">{{ respuesta }}</div>
          </div>

          <div class="row">
            <div class="col" id="espacio"></div>
          </div>

          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="row" id="calculadora">
                <div class="row" id="del">
                  <button class="btn btn-primary" id="btn_del" (click)="del()">
                    DEL
                  </button>
                </div>

                <div class="row">
                  <div class="col" id="espacio"></div>
                </div>

                <div class="col-9" id="numeros">
                  <div class="col.4">
                    <button class="btn btn-primary" (click)="ponerNumeros('9')">
                      9
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('8')">
                      8
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('7')">
                      7
                    </button>
                  </div>
                  <div class="col.4">
                    <button class="btn btn-primary" (click)="ponerNumeros('6')">
                      6
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('5')">
                      5
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('4')">
                      4
                    </button>
                  </div>
                  <div class="col.4">
                    <button class="btn btn-primary" (click)="ponerNumeros('3')">
                      3
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('2')">
                      2
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('1')">
                      1
                    </button>
                  </div>
                  <div class="col.4">
                    <button class="btn btn-primary" (click)="ponerNumeros('.')">
                      .
                    </button>
                    <button class="btn btn-primary" (click)="ponerNumeros('0')">
                      0
                    </button>
                    <button
                      class="btn btn-primary"
                      (click)="ponerNumeros('00')"
                    >
                      00
                    </button>
                  </div>
                </div>
                <div class="col-3" id="operaciones">
                  <div class="col-1">
                    <button
                      class="btn btn-secondary"
                      (click)="ponerNumeros('/')"
                    >
                      /
                    </button>
                    <button
                      class="btn btn-secondary"
                      (click)="ponerNumeros('*')"
                    >
                      *
                    </button>
                    <button
                      class="btn btn-secondary"
                      (click)="ponerNumeros('-')"
                    >
                      -
                    </button>
                    <button
                      class="btn btn-secondary"
                      (click)="ponerNumeros('+')"
                    >
                      +
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col" id="espacio"></div>
                </div>
                <div class="row">
                  <button
                    class="btn btn-success"
                    id="igual"
                    (click)="calcular()"
                  >
                    =
                  </button>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<router-outlet></router-outlet>
